html {
}

@font-face {
	font-family: Palatino;
	src: local("Palatino");
	src: url("pala.ttf");
}

body {
/*	font-family: 'Share Tech Mono', fixed;
	font-size: 0.9em;*/
	line-height: 1.3em;
	height: 100%;/
	background-color: black;
	background-image: url("cats.jpg");
	background-size: 100% auto;
	width: calc(100vw - 34px); /* Prevent jump from scrollbar appearing on only some pages */
	padding-left: 9px; /* Recenter page from scrollbar width adjustment */
}

#container {
	margin: 0;
	width: 100%;
	padding: 0;
}

p {
	margin-top: 0;
}

h1 {
	font-family: "Play";
	font-size: 1.6em;
	margin-top: 0;
	text-align: center;
}

h2 {
	font-family: "Play";
	font-size: 1.25em;
	margin-bottom: 0.75em;
	margin-top: 0.9em;
	text-align: center;
}

h3 {
	margin-top: 0;
	font-size: 1.15em;
	margin-bottom: 0.5em;
	clear: none;
}

h4 {
	font-size: 1.05em;
	margin-top: 0em;
	padding:0;
	margin-bottom: 0.25em;
	font-family: "Play";
}

a:link {
	color: #a35f1a;
}

a:visited {
	color: #a35f1a;
}

ul {
	margin-top: -0.25em;
}

ul li {
	text-indent: -1.25em;
	padding-left: 1.25em;
}

#header {
	height: 1.36em;
	padding: 0.8em;
}

#banner {
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 0.4em;
	width: auto;
	/* text-shadow: -3px 5px 8px #000000; */
	margin: 0 0em 0.18em 0em;
	font-family: "Griffy";
	font-size: 3.7em;
	text-align: center;
	line-height: 1.1em;
	display: block;
	color: white;
 	background: url("calico2.png") no-repeat no-repeat stretch;
 	-webkit-background-clip: text;
}

.alphabox {
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 14.5em;
	margin-left: 1em;
}

#about {
  color: white;
}

a#handle {
  display:block;
  background-color: rgba(0, 0, 0, 0.6);
  text-align:center;
}

.pagetitle {
	font-size: 2.3em;
	float: right;
	margin: 1em 1em 0 0;
}

.subtitle {
	font-size: 0.3em;
	font-style: italic;
	padding-top: 0em;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: normal;
	color: #ccc;
	font-family: Palatino;
}

#verticalbar {
	height: 3.52em;
	position: absolute;
	top: 0;
	right: 8.527em;
	width: 1px;
	margin: 0;
	padding: 0;
	border-right: 4pt solid #f7f7f7;
	z-index: -1;
}

#tabbar ul {
	font-size: 1.4em;
	padding: 0.5em 1em 0.5em 1em;
	list-style-type: none;
	margin: 0 0 0.34em 0;
	text-align: center;
}

#tabbar li {
	display: inline;
	/* text-shadow: -3px 5px 8px #000000; */
	padding: 0.3em 0.7em 0.3em 0.7em;
	text-align: center;
}

.current {
	color: #4E99FF;
	text-decoration: none;
	background-color: rgba(80, 50, 255, 0.30);
	padding-top: 2em;
	text-shadow: 2px 2px 4px #000;
}

#tabbar a {
	font-style: none;
	text-decoration: none;
}

#tabbar a:link {
	color: white;
}

#tabbar a:visited {
	color: white;
}

#tabbar a:hover {
	color: #0077ff;
}

#footer {
	text-align: center;
	font-size: 1em;
	margin-top: 0.5em;
}

.rightcolumn {
	font-size: 1.2em;
	line-height: 1.4;
	min-width: 10em;
}

#leftfloat {
	float: left;
	width: 16em;
	line-height: 1.6em;
	font-size: 1.25em;
	margin: 1em 1em 1em 3em;
}

#leftfloat p {
	text-align: justify;
	text-indent: 15px;
}

.contentcontainer {
	max-width: 51em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 18px;
	background-color: rgba(0, 0, 0, 0.6);
}

#content {
	font-size: 1.15em;
	line-height: 1.4;
	padding: 1.4em 4em 0.3em 4em;
	overflow: hidden;
}

#content p {
	text-indent: 2.4em;
	margin-bottom: 1.25em;
}

#content .letterheading {
	font-weight: bold;
	text-align: center;
	text-indent: 0;
	letter-spacing: 0.5px;
	font-size: 1.1em;
}

.sidebar {
	float: right;
	padding: 1em 1em 0em 1em;
	background-color: #bbbbbb;
	border-radius: 15px;
}

.imagebar h1 {
	font-size: 1.2em;
	margin: 0em 0em .75em 0em;
}

.macro {
	position: relative;
}

.caption {
	font-size: 0.7em;
	font-style: italic;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino";
}

blockquote {
	font-style: italic;
	margin: 0em 25px 1em 25px;
	padding: 1em;
	border-radius: 15px;
	background-color: rgba(40, 40, 40, 0.5);
}

#content blockquote p {
	margin-bottom: 0;
}

.quoteattribution {
	text-align: right;
	font-style: normal;
	margin-top: 0.5em;
}

.no {
	color: #aa0000;
}

.yes {
	color: #008800;
}

.more {
	font-size: 5em;
	color: #00aa00;
}

.spreadlist {
	padding-left: 0.5em;
	list-style-type: none;
}

.spreadlist li {
	padding-bottom: 0.2em;
}

table {
	border-spacing: 5px;
	margin-right: 0.5em;
	margin-bottom: 1em;
}

table tr td {
	padding: 0 10px;
}

table tr td ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#warning {
	position: fixed;
	right: 1em;
	bottom: 1em;
	width: 255px;
	border: solid 3px #DD0000;
	float: right;
	font-size: 0.75em;
	color: #DD0000;
	padding: 0.5em;
	text-align: justify;
	line-height: normal;
	margin: 0.5em;
	background-color: rgba(0, 0, 0, 0.9);
}

summary {
	font-weight: bold;
}

.right {
	float: right;
}

.indent {
	margin-left: 30px;
}

.donatebutton {
	border: 3px solid #1487E3;
	border-right: 3px solid #1455d3;
	border-bottom: 3px solid #1455d3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	font-weight:bold;
	color: #FFFFFF;
	background-color: #1950c0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1950c0), to(#3093C7));
	background-image: -webkit-linear-gradient(top, #1950c0, #3093C7);
	background-image: -moz-linear-gradient(top, #1950c0, #3093C7);
	background-image: -ms-linear-gradient(top, #1950c0, #3093C7);
	background-image: -o-linear-gradient(top, #1950c0, #3093C7);
	background-image: linear-gradient(to bottom, #1950c0, #3093C7);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1950c0, endColorstr=#3093C7);
}

.donatebutton:hover {
	border: 3px solid #1090c3;
	border-right: 3px solid #1465e3;
	border-bottom: 3px solid #1465e3;
	background-color: #1a90ec;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1a90ec), to(#1950c0));
	background-image: -webkit-linear-gradient(top, #1a90ec, #1950c0);
	background-image: -moz-linear-gradient(top, #1a90ec, #1950c0);
	background-image: -ms-linear-gradient(top, #1a90ec, #1950c0);
	background-image: -o-linear-gradient(top, #1a90ec, #1950c0);*/
	background-image: linear-gradient(to bottom, #1a90ec, #1950c0);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1a90ec, endColorstr=#1950c0);
}

.monthlybutton {
	border: 3px solid #008A2E;
	border-right: 3px solid #005310;
	border-bottom: 3px solid #005310;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background-color: #008a00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#005C1F), to(#009933));
	background-image: -webkit-linear-gradient(top, #005C1F, #009933);
	background-image: -moz-linear-gradient(top, #005C1F, #009933);
	background-image: -ms-linear-gradient(top, #005C1F, #009933);
	background-image: -o-linear-gradient(top, #005C1F, #009933);
	background-image: linear-gradient(to bottom, #005C1F, #009933);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#005C1F, endColorstr=#009933);
	height: 40px;
	margin: 0 0.25em 0 0.25em;
}

.monthlybutton:hover {
	border: 3px solid #00A83E;
	border-right: 3px solid #007320;
	border-bottom: 3px solid #007320;
	background-color: #008a00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#008822), to(#00601F));
	background-image: -webkit-linear-gradient(top, #008822, #00601F);
	background-image: -moz-linear-gradient(top, #008822, #00601F);
	background-image: -ms-linear-gradient(top, #008822, #00601F);
	background-image: -o-linear-gradient(top, #008822, #00601F);
	background-image: linear-gradient(to bottom, #008822, #00601F);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#008822, endColorstr=#00601F);
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 1% 1.3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.55%;
}
.span_10_of_12 {
  	width: 83.11%;
}

.span_9_of_12 {
  	width: 74.67%;
}

.span_8_of_12 {
  	width: 66.23%;
}

.span_7_of_12 {
  	width: 57.79%;
}

.span_6_of_12 {
  	width: 49.35%;
}

.span_5_of_12 {
  	width: 40.90%;
}

.span_4_of_12 {
  	width: 32.46%;
}

.span_3_of_12 {
  	width: 24.02%;
}

.span_2_of_12 {
  	width: 15.58%;
}

.span_1_of_12 {
  	width: 7.141%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%;
	}
}

.meow {
	margin: 0.5em 0 0.5em 0;
	padding: 0.75em;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
        color: wheat;
}
.closer {
  float:right;
}
.results-tab {
  display:inline-block;
  background-color:green;
}
.active-tab {
  background-color:white;
  color:green;
}

.search-results-data {
    background-color: lightgray;
    color: black;
    padding: 4px;
}

#user-header {
  color:white;
}

.meow-edit {
  float:right;
}
